{{define "cronnum.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>定时任务查看</title>
    </head>
    {{template "base" .}}

    <body>
    <table class="table table-hover">
        <thead>
            <th>@</th>
            <th>任务名字</th>
            <th>创建时间</th>
            <th>执行时间</th>
            <th>执行代码</th>
            <th>备注</th>
            <th>动作</th>
        </thead>

        <tbody>
            {{range $_, $v := .cronList}}
                <tr>
                    <td><input class="cb" type="checkbox"/></td>
                    <td>{{$v.CronName}}</td>
                    <td>{{$v.CronNewDate}}</td>
                    <td>{{$v.CronTime}}</td>
                    <td>{{$v.CronCode}}</td>
                    <td>{{$v.CronNotes}}</td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>

    <script src="/sta/js/cron.js"></script>

    </body>
    </html>


{{end}}