{{define "cronnum.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>定时任务查看</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <meta name="keywords" content=""/>
        <link rel="stylesheet" href="/sta/css/csstools/bootstrap.min.css">
        <script src="/sta/js/jstools/jquery-3.7.1.min.js"></script>
        <script src="/sta/js/jstools/bootstrap.bundle.min.js"></script>
        <script src="/sta/js/cron.js"></script>
    </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item btn btn-dark">
                    <a class="nav-link" href="/url/index">网址管理 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item btn btn-dark">
                    <a class="nav-link" href="/">文件管理</a>
                </li>
                <li class="nav-item btn btn-dark dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        其他管理
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/readme">使用文档</a>
                        <a class="dropdown-item" href="/cron/index">定时任务</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-hover">
        <thead>
            <th>@</th>
            <th>任务名字</th>
            <th>执行时间</th>
            <th>执行代码</th>
            <th>备注</th>
            <th>动作</th>
        </thead>

        <tbody>
            {{range $_, $v := .cronList}}
                <tr>
                    <td><input class="cb" type="checkbox"/></td>
                    <td>{{$v.CronName}}</td>
                    <td>{{$v.CronTime}}</td>
                    <td>{{$v.CronCode}}</td>
                    <td>{{$v.CronNotes}}</td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>

    <script>

    </script>

    </body>
    </html>


{{end}}