{{define "file.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>文件管理</title>
        <style>
            #overlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                z-index: 999;
            }

            #password-modal {
                display: none;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: white;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                z-index: 1000;
            }

            #password-modal input {
                padding: 5px;
                margin-bottom: 10px;
                width: 90%;
            }

            #password-modal button {
                padding: 5px 10px;
                background: #007bff;
                color: white;
                border: none;
                cursor: pointer;
            }

            #password-modal button#close-modal {
                background: #6c757d;
                margin-left: 10px;
            }

            #error-message {
                color: red;
                display: none;
            }
        </style>
    </head>
    {{template "base" .}}
    <link rel="stylesheet" href="/sta/css/csstools/codemirror.min.css">
    <script src="/sta/js/jstools/codemirror.min.js"></script>

    <body>
        <div id="alert" style="margin-top: 80px"></div>
        <div id="jdt"></div>
        <div class="folder">
            <h5 style="margin-top: 15px; margin-left: 15px">
                <span style="color: #000000" id="breadcrumb-container"></span>
            </h5>
            <div style="float: left; display: flex; align-items: center;margin-left: 15px;">
                <form  id="sForm">
                    <input class="btn btn-primary" type="file" name="file" id="f" multiple>
                    <button class="btn btn-primary" id="sButton" onclick="pushFile()" hidden="true " style="margin-left: 5px">上传文件</button>
                </form>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="margin-left: 20px" data-toggle="tooltip" data-placement="top" title="目录或文件只会在当前路径创建">创建目录</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo" style="margin-left: 20px" data-toggle="tooltip" data-placement="top" title="目录或文件只会在当前路径创建">创建文件</button>
                {{/*<button style="margin-left: 30px;" class="btn btn-primary" onclick="location.reload()">刷新</button>*/}}
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo" style="margin-left: 20px" onclick="showRecycle()" data-toggle="tooltip" data-placement="top" title="误删及删除的所有文件会保留在这里">回收站</button>

                <input type="text" id="context" name="context" style="margin-left: 200px;cursor: text;background-color: #ffffff; color: #000000;" class="btn btn-secondary" placeholder="搜索文件" data-toggle="tooltip" data-placement="top" title="只支持在目录级别下搜索文件,不支持在根目录下直接搜索">
                <button  id="search" style="margin-left: 5px;" class="btn btn-primary" onclick="fileSearch()" data-toggle="tooltip" data-placement="top" title="只支持在目录级别下搜索文件,不支持在根目录下直接搜索">搜索</button>
            </div>
            <table class="table table-hover" style="margin-top: 70px">
                <thead>
                    <th>@</th>
                    <th>文件名</th>
                    <th>大小</th>
                    <th>时间</th>
                    <th>权限</th>
                    <th>动作</th>
                </thead>
                <tbody id="ss">
                {{range $_,$v := .dirList}}
                    <tr>
                        {{if eq $v.Href "/root"}}
                            <td><input class="cb" type="checkbox"/></td>
                            <td><a id="root-link" href="{{$v.Href}}" style="text-decoration: none;font-size: 18px;"><img src="/sta/img/dir.png" style="width: 20px; height: 20px"><b> {{.DirectoryName}}</b></a></td>
                            <td>{{$v.Size}}MB</td>
                            <td>{{$v.Time}}</td>
                            <td>{{$v.Power}}</td>
                            <td>
                                <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                                <button style="margin-left: 15px" class="btn btn-warning" onclick="ysCheckbox()">压缩</button>
                            </td>
                        {{else}}
                            <td><input class="cb" type="checkbox"/></td>
                            <td><a href="{{$v.Href}}" style="text-decoration: none;font-size: 18px;"><img src="/sta/img/dir.png" style="width: 20px; height: 20px"><b> {{.DirectoryName}}</b></a></td>
                            <td>{{$v.Size}}MB</td>
                            <td>{{$v.Time}}</td>
                            <td>{{$v.Power}}</td>
                            <td>
                                <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                                <button style="margin-left: 15px" class="btn btn-warning" onclick="ysCheckbox()">压缩</button>
                            </td>
                        {{end}}
                    </tr>
                {{end}}
                {{range .fileList}}
                    <tr>
                        <td><input class="cb" type="checkbox"/></td>
                        <td><a href="{{.Href}}" style="text-decoration: none;font-size: 18px;"><img src="/sta/img/file.png" style="width: 20px; height: 20px"> {{.FileName}}</a></td>
                        <td>{{.Size}}MB</td>
                        <td>{{.Time}}</td>
                        <td>{{.Power}}</td>
                        <td>
                            {{if checkFileTailStr .FileName ".tar" ".zip" ".tar.gz" ".bz2" ".gz"}}
                                <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                                <button style="margin-left: 15px" class="btn btn-primary" onclick="jyCheckbox()">解压</button>
                            {{else}}
                                {{ if checkFileTailStr .FileName ".png" ".jpg"}}
                                    <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                                    <button id="ys" style="margin-left: 15px" class="btn btn-warning" onclick="ysCheckbox()">压缩</button>
                                {{else}}
                                    <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                                    <button data-toggle="modal" data-target="#mtk" style="margin-left: 15px" class="btn btn-success" onclick="catFileCheckbox()">查看</button>
                                    <button id="ys" style="margin-left: 15px" class="btn btn-warning" onclick="ysCheckbox()">压缩</button>
                                {{end}}
                            {{end}}
                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>

        <div id="overlay"></div>

        <div id="password-modal">
            <p><b>此目录访问需要密码</b></p>
            <input type="password" id="password-input" placeholder="Password">
            <button id="submit-password">确定</button>
            <button id="close-modal">取消</button>
            <p id="error-message">password error!</p>
        </div>

        <div class="modal" id="mtk" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <div id="fileName"></div>
                        <button type="button" class="close" data-dismiss="modal" onclick="down()">&times;</button>
                    </div>
                        <div class="container mt-4">
                            <div id="texts"></div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="updateContent()">确认更新</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="down" onclick="down()">关闭</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">创建目录</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">目录名</label>
                                <input type="text" class="form-control" name="dir" id="recipient-dir">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="createdir">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">创建文件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">文件名</label>
                                <input type="text" class="form-control" name="file" id="recipient-file">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="createfile">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">临时回收站</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <li style="margin-left: 15px; color: #ab6617">文件恢复需自行去服务器手动恢复</li>
                        <table class="table table-hover">
                            <thead>
                                <th>文件列表</th>
                            </thead>
                            <tbody id="hs-data">
                            </tbody>
                        </table>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/sta/js/alert.js"></script>
        <script src="/sta/js/file.js"></script>
        <script>
            const fileInput = document.getElementById('f');
            const qdButton = document.getElementById('sButton');
            fileInput.addEventListener('change', function () {
                qdButton.removeAttribute('hidden');
            });


            document.getElementById('search').addEventListener('click', function() {
                    const searchBox = document.getElementById('context');
                    // 清空搜索框
                    searchBox.value = '';
            });
        </script>

        <script>
            const rootLink = document.getElementById('root-link');
            const passwordModal = document.getElementById('password-modal');
            const overlay = document.getElementById('overlay');
            const passwordInput = document.getElementById('password-input');
            const submitButton = document.getElementById('submit-password');
            const closeModalButton = document.getElementById('close-modal');
            const errorMessage = document.getElementById('error-message');

            rootLink.addEventListener('click', (e) => {
                e.preventDefault(); // 阻止默认跳转行为
                errorMessage.style.display = 'none';
                passwordModal.style.display = 'block';
                overlay.style.display = 'block'; // 显示遮罩层
            });

            closeModalButton.addEventListener('click', () => {
                document.getElementById('password-input').value = "";
                passwordModal.style.display = 'none';
                overlay.style.display = 'none'; // 隐藏遮罩层
            });

            submitButton.addEventListener('click', () => {
                 const password = passwordInput.value;
                 $.ajax({
                     url: "/root",
                     type: "POST",
                     contentType: 'application/json',
                     data: JSON.stringify({
                         "password": password,
                     }),
                     success: function (data) {
                         if (data.code === 200) {
                             document.getElementById('password-input').value = "";
                             document.getElementById("close-modal").click();
                             window.location = "/root/?password="+data.pwd;
                         } else {
                             errorMessage.style.display = 'block';
                         }
                     },
                     error: function () {
                         alert("请求失败！");
                     }
                 });
            });
        </script>

        <script>
            function getBreadcrumbs() {
                const path = window.location.pathname;
                const pathParts = path.split('/').filter(part => part);

                // 生成面包屑链接
                const breadcrumbs = pathParts.map((part, index) => {
                    const href = '/' + pathParts.slice(0, index + 1).join('/'); // 拼接每一层的链接
                    return {
                        text: part,
                        href: href
                    };
                });

                return breadcrumbs;
            }

            // 更新面包屑导航
            function updateBreadcrumbs() {
                const breadcrumbs = getBreadcrumbs();
                const breadcrumbContainer = document.getElementById('breadcrumb-container');
                breadcrumbContainer.innerHTML = '';

                breadcrumbs.forEach((breadcrumb, index) => {
                    const breadcrumbElement = document.createElement('span');
                    const breadcrumbLink = document.createElement('a');
                    breadcrumbLink.href = breadcrumb.href;
                    breadcrumbLink.textContent = breadcrumb.text;
                    breadcrumbLink.style.textDecoration = 'none';
                    breadcrumbElement.appendChild(breadcrumbLink);

                    if (index < breadcrumbs.length - 1) {
                        breadcrumbElement.innerHTML += ' > ';
                    }

                    breadcrumbContainer.appendChild(breadcrumbElement);
                });
            }

            document.addEventListener('DOMContentLoaded', updateBreadcrumbs);
        </script>

    </body>
    </html>
{{end}}