{{define "file.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>文件管理</title>
    </head>
    {{template "base" .}}
    <body>
        <div id="alert" style="margin-top: 80px"></div>
        <div id="jdt"></div>
        <div class="folder">
            <h5 style="margin-top: 15px; margin-left: 15px">
                <span style="color: #007bff">{{.rootDir}}</span>
            </h5>
            <div style="float: left; display: flex; align-items: center;margin-left: 15px;">
                <form  id="sForm">
                    <input class="btn btn-primary" type="file" name="file" id="f" multiple>
                    <button class="btn btn-primary" id="sButton" onclick="pushFile()" hidden="true " style="margin-left: 5px">上传文件</button>
                </form>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="margin-left: 20px">创建目录</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo" style="margin-left: 20px">创建文件</button>
                {{/*<button style="margin-left: 30px;" class="btn btn-primary" onclick="location.reload()">刷新</button>*/}}
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo" style="margin-left: 20px" onclick="showRecycle()">回收站</button>

                <input type="text" id="context" name="context" style="margin-left: 200px;cursor: text;" class="btn btn-secondary" placeholder="输入搜索内容 ">
                <button  id="search" style="margin-left: 5px;" class="btn btn-primary" onclick="fileSearch()">搜索</button>
            </div>
            <table class="table table-hover" style="margin-top: 70px">
                <thead>
                    <th>@</th>
                    <th>文件名</th>
                    <th>大小</th>
                    <th>时间</th>
                    <th>权限</th>
                    <th>动作</th>
                </thead>
                <tbody id="ss">
                {{range .dirList}}
                    <tr>
                        <td><input class="cb" type="checkbox"/></td>
                        <td><a href="{{.Href}}" style="text-decoration: none;font-size: 18px;"><img src="/sta/img/dir.png" style="width: 20px; height: 20px"><b> {{.DirectoryName}}</b></a></td>
                        <td>{{.Size}}MB</td>
                        <td>{{.Time}}</td>
                        <td>{{.Power}}</td>
                        <td>
                            <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                            <button style="margin-left: 15px" class="btn btn-warning" onclick="ysCheckbox()">压缩</button>
                        </td>
                    </tr>
                {{end}}
                {{range .fileList}}
                    <tr>
                        <td><input class="cb" type="checkbox"/></td>
                        <td><a href="{{.Href}}" style="text-decoration: none;font-size: 18px;"><img src="/sta/img/file.png" style="width: 20px; height: 20px"> {{.FileName}}</a></td>
                        <td>{{.Size}}MB</td>
                        <td>{{.Time}}</td>
                        <td>{{.Power}}</td>
                        <td>
                            {{if checkFileTailStr .FileName ".tar" ".zip" ".tar.gz" ".bz2" ".gz"}}
                                <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                                <button style="margin-left: 15px" class="btn btn-primary" onclick="jyCheckbox()">解压</button>
                            {{else}}
                                {{ if checkFileTailStr .FileName ".png" ".jpg"}}
                                    <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                                    <button id="ys" style="margin-left: 15px" class="btn btn-warning" onclick="ysCheckbox()">压缩</button>
                                {{else}}
                                    <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                                    <button data-toggle="modal" data-target="#mtk" style="margin-left: 15px" class="btn btn-success" onclick="catFileCheckbox()">查看</button>
                                    <button id="ys" style="margin-left: 15px" class="btn btn-warning" onclick="ysCheckbox()">压缩</button>
                                {{end}}
                            {{end}}
                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>

        <div class="modal" id="mtk">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <div id="fileName"></div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="texts" contenteditable="true" style="background-color: #343a40"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="updateContent()">确认更新</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="down" onclick="down()">关闭</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">创建目录</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">目录名</label>
                                <input type="text" class="form-control" name="dir" id="recipient-dir">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="createdir">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">创建文件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">文件名</label>
                                <input type="text" class="form-control" name="file" id="recipient-file">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="createfile">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">临时回收站</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <th>文件列表</th>
                            </thead>
                            <tbody id="hs-data">
                            </tbody>
                        </table>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/sta/js/alert.js"></script>
        <script src="/sta/js/file.js"></script>
        <script>
            const fileInput = document.getElementById('f');
            const submitButton = document.getElementById('sButton');
            fileInput.addEventListener('change', function () {
                submitButton.removeAttribute('hidden');
            });


            document.getElementById('search').addEventListener('click', function() {
                    const searchBox = document.getElementById('context');
                    // 清空搜索框
                    searchBox.value = '';
            });
        </script>
    </body>
    </html>
{{end}}