{{define "file.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>文件管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <meta name="keywords" content=""/>
        <link rel="stylesheet" href="/sta/css/csstools/bootstrap.min.css">
        <script src="/sta/js/jstools/jquery-3.7.1.min.js"></script>
        <script src="/sta/js/jstools/bootstrap.bundle.min.js"></script>
        <script src="/sta/js/alert.js"></script>
        <script src="/sta/js/file.js"></script>
        <style>
            .fw-btn {
                height: 40px;
                width: 50px;
                padding: 0 auto;
                background-color: #5938ea;
                color: #fff;
                text-align: center;
                font-size: 15px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                margin-left: 10px;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item btn btn-dark">
                        <a class="nav-link" href="/url/index">网址管理 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item btn btn-dark">
                        <a class="nav-link" href="/">文件管理</a>
                    </li>
                    <li class="nav-item btn btn-dark dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            其他管理
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/readme">使用文档</a>
                            <a class="dropdown-item" href="/sqls/index">数据合并</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="alert"></div>

        <div id="jdt"></div>

        <div class="folder">
            <h3 style="margin-top: 15px; margin-left: 15px">
                ROOT: {{.rootDir}}
            </h3>
            <div style="float: left; display: flex; align-items: center;margin-left: 15px;">
                <form  id="sForm">
                    <input class="btn btn-dark" type="file" name="file" id="f">
                    <button class="fw-btn" id="sButton" onclick="pushFile()" hidden="true ">上传</button>
                </form>

                <input style="margin-left: 30px;width: 150px;height: 40px" type="text" name="dir" id="dir" placeholder="目录名">
                <button class="fw-btn" id="createdir">创建</button>
            </div>
            <table class="table table-hover" style="margin-top: 70px">
                <thead>
                    <th>@</th>
                    <th>文件名</th>
                    <th>大小</th>
                    <th>时间</th>
                    <th>权限</th>
                    <th>动作</th>
                </thead>

                <tbody>
                {{range .dirList}}
                    <tr>
                        <td><input class="cb" type="checkbox"/></td>
                        <td><a href="http://{{.IpPort}}{{.Href}}"><img src="/sta/img/dir.png" style="width: 20px; height: 20px">{{.DirectoryName}}</a></td>
                        <td>{{.Size}}MB</td>
                        <td>{{.Time}}</td>
                        <td>{{.Power}}</td>
                        <td>
                            <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                            <button style="margin-left: 15px" class="btn btn-warning" onclick="ysCheckbox()">压缩</button>
                        </td>
                    </tr>
                {{end}}
                {{range .fileList}}
                    <tr>
                        <td><input class="cb" type="checkbox"/></td>
                        <td><a href="http://{{.IpPort}}{{.Href}}"><img src="/sta/img/file.png" style="width: 20px; height: 20px">{{.FileName}}</a></td>
                        <td>{{.Size}}MB</td>
                        <td>{{.Time}}</td>
                        <td>{{.Power}}</td>
                        <td>
                            {{if hasSuffix .FileName ".tar" ".zip" ".tar.gz" ".bz2" ".gz"}}
                                <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                                <button style="margin-left: 15px" class="btn btn-primary" onclick="jyCheckbox()">解压</button>
                            {{else}}
                                <button class="btn btn-danger" onclick="deleteCheckbox()">删除</button>
                                <button style="margin-left: 15px" class="btn btn-info" onclick="catFileCheckbox()">查看</button>
                                <button id="ys" style="margin-left: 15px" class="btn btn-warning" onclick="ysCheckbox()">压缩</button>
                            {{end}}
                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>

        <div id="texts" style="margin-left: 15px; margin-right: 15px; background-color: #343a40"></div>

        <script>
            const fileInput = document.getElementById('f');
            const submitButton = document.getElementById('sButton');
            fileInput.addEventListener('change', function () {
                submitButton.removeAttribute('hidden');
            });
        </script>

    </body>
    </html>
{{end}}