{{define "login.tmpl"}}
    <html lang="en">
    <head>
        <title>登录</title>
        <link rel="stylesheet" href="/sta/css/all.css">
        <link rel="stylesheet" href="/sta/css/jj.css">
        <script src="/sta/js/jstools/jquery-3.7.1.min.js"></script>
    </head>
    <style>
        body {
            background-color: #ffffff;
        }
    </style>

    <body>
        <div class="sub-main-w3">

            <form>
                <h2 style="color: #212529">Welcome GUIDE</h2>

                <div class="form-style-agile">
                    <label>用户名</label>
                    <input id="name" placeholder="" name="Name" type="text" required="" autocomplete="off">
                </div>

                <div class="form-style-agile">
                    <label>密码</label>
                    <input id="passwd" placeholder="" name="Password" type="password" required="" autocomplete="off">
                </div>
                <input type="button" value="登录" onclick="loginck()">
            </form>
        </div>
        <div id="popup" class="popup hidden">
            <div class="popup-content">
                <p id="popup-message">input error</p>
                <button onclick="hidePopup()" class="popup-btn">X</button>
            </div>
        </div>
    </body>

    <script>
        function showPopup(message) {
            document.getElementById("popup-message").innerText = message;
            document.getElementById("popup").classList.remove("hidden");
            setTimeout(hidePopup, 5000);
        }

        function hidePopup() {
            document.getElementById("popup").classList.add("hidden");
        }
    </script>


    <script>
        function loginck(){
            let userName = $("#name").val();
            let password = $("#passwd").val();

            $.ajax(
                {
                    url: "/loginck",
                    type: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "user": userName,
                        "password": password
                    }),
                    success: function (data) {
                        if (data.code === 200) {
                            const permissions = data["permission"] || [];
                            localStorage.setItem("userPermissions", JSON.stringify(permissions));
                            const loginUser = data["loginUser"];
                            if (loginUser !== undefined && loginUser !== null) {
                                const userValue = typeof loginUser === 'string' ? loginUser : JSON.stringify(loginUser);
                                localStorage.setItem("user", userValue);
                            } else {
                                console.error("login user data loss.");
                            }
                            window.location.href = "/home";
                        } else {
                            showPopup(data["msg"]);
                        }
                    }
                },
            );
        }
    </script>

    </html>

{{end}}