{{define "readme.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>使用文档</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <meta name="keywords" content=""/>
        <link rel="stylesheet" href="/sta/css/csstools/bootstrap.min.css">
        <script src="/sta/js/jstools/jquery.slim.min.js"></script>
        <script src="/sta/js/jstools/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item btn btn-dark">
                        <a class="nav-link" href="/url/index">网址管理 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item btn btn-dark">
                        <a class="nav-link" href="/">文件管理</a>
                    </li>
                    <li class="nav-item btn btn-dark dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            其他管理
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/readme">使用文档</a>
                            <a class="dropdown-item" href="/cron/index">定时任务</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <h3 style="margin-top: 15px; text-align: center">使用文档</h3>
        <h5 style="margin-left: 10px;color: #007bff">网址管理</h5>
        <p style="margin-left: 30px">添加功能 --> 正常填写就行，服务名称一定要唯一。</p>
        <p style="margin-left: 30px">删除功能 --> 删除是模糊匹配，如果你有2个服务，分别是app01，app02，如果删除功能名称中填写app01和app02会正常删除，如果填写app的话，它会删除所有带app字符的所有名称。</p>
        <br>
        <h5 style="margin-left: 10px;color: #007bff">文件管理</h5>
        <p style="margin-left: 30px">创建目录，只会在当前目录创建，文件创建也是一样。删除动作不能删除'..'，这是根目录，默认删除无效。解压默认只支持(tar,zip,gz,tar.gz),其他解压会失败。默认支持在线阅读文件功能，目前只支持["go","sh","txt","py","yaml","yml","md","java","c","json","env","dockerfile","conf","js","html","css","ts",
            "tmpl","sql","bat","ps1","php","tmp","xml","ini","jenkinsfile"]一些常见的。</p>
        <br>
        <h5 style="margin-left: 10px;color: #007bff">定时任务</h5>
        <p style="margin-left: 30px">此定时任务可以拿来备份远程数据至本地，支持并发。系统只支持Windows和Linux。</p>
        <p style="margin-left: 30px">定时任务代码块部分，出于安全考虑，不支持特殊字符。比如[&&, $, . , >]这种类似。</p>
    </body>
    </html>
{{end}}