{{define "security.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>安全管理</title>
        <script src="/sta/js/security.js"></script>
    </head>
    {{template "base" .}}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>

    <body>
    <div style="margin-left: 10px; margin-top: 80px">
        <input class="btn btn-primary" type="button"  name="showsys" id="showsys" value="系统安全状态" onclick="">
        <input class="btn btn-primary" type="button"  name="audit" id="audit" value="审计" onclick="">
    </div>
    <hr>

    <div style="margin-left: 10px;">
        <h4 style="text-align: center">系统日志ip统计</h4>
        <div><span style="color: red">{{.messageError}}</span></div>
        
        <div>
            <h5 style="color: #007bff">Messages log</h5>
            <table class="table table-hover">
                <thead>
                    <th>@</th>
                    <th>IP地址</th>
                    <th>出现次数</th>
                    <th>安全等级</th>
                    <th>动作</th>
                </thead>
                <tbody>
                    {{range $k ,$v := .Messages}}
                    <tr>
                        <td><input class="cb" type="checkbox"/></td>
                        <td>{{$v.Ip}}</td>
                        <td>{{$v.IpNum}}</td>
                        {{if gt $v.IpNum 10000}}
                            <td style="color: #CC0000">非常严重</td>
                        {{else if gt $v.IpNum 5000}}
                            <td style="color: #FF3333">一般严重</td>
                        {{else if gt $v.IpNum 2000}}
                            <td style="color: #FF5511">严重</td>
                        {{else if gt $v.IpNum 100}}
                            <td style="color: #FF8800">警告</td>
                        {{else}}
                            <td style="color: #00DD00">观察</td>
                        {{end}}
                        <td>
                            <button class="btn btn-danger" type="button" onclick="">加入黑名单</button>
                            <button class="btn btn-primary" type="button" onclick="">移除黑名单</button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

        <div>
            <h5 style="color: #007bff">Secure log</h5>
            <div><span style="color: red">{{.securesError}}</span></div>
            <table class="table table-hover">
                <thead>
                    <th>@</th>
                    <th>IP地址</th>
                    <th>出现次数</th>
                    <th>安全等级</th>
                    <th>动作</th>
                </thead>
                <tbody>
                    {{range $k ,$v := .Secure}}
                    <tr>
                        <td><input class="cb" type="checkbox"/></td>
                        <td>{{$v.Ip}}</td>
                        <td>{{$v.IpNum}}</td>
                        {{if gt $v.IpNum 10000}}
                            <td style="color: #CC0000">非常严重</td>
                        {{else if gt $v.IpNum 5000}}
                            <td style="color: #FF3333">一般严重</td>
                        {{else if gt $v.IpNum 2000}}
                            <td style="color: #FF5511">严重</td>
                        {{else if gt $v.IpNum 100}}
                            <td style="color: #FF8800">警告</td>
                        {{else}}
                            <td style="color: #00DD00">观察</td>
                        {{end}}
                        <td>
                            <button class="btn btn-danger" type="button" onclick="">加入黑名单</button>
                            <button class="btn btn-primary" type="button" onclick="">移除黑名单</button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

    </div>

    </body>
    </html>

{{end}}