{{define "security.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>安全管理</title>
        <script src="/sta/js/security.js"></script>
    </head>
    {{template "base" .}}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>

    <body>
    <div style="margin-left: 10px; margin-top: 80px">
        anquan
    </div>


    </body>
    </html>

{{end}}