{{define "security.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>安全管理</title>
        <script src="/sta/js/security.js"></script>
    </head>
    {{template "base" .}}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>

    <body>
    <div style="margin-left: 10px; margin-top: 80px">
        <input class="btn btn-primary" type="button"  name="showsys" id="showsys" value="系统安全状态" onclick="">
        <input class="btn btn-primary" type="button"  data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo" name="audit" id="iplist" value="黑名单IP列表" onclick="showBlacklist()">
        <input class="btn btn-primary" type="button"  name="showsys" id="showsys" value="防火墙规则配置" onclick="">
        <input class="btn btn-primary" type="button"  name="showsys" id="showsys" value="白名单配置" onclick="">
    </div>
    <hr>

    <div style="margin-left: 10px;">
        <div><span style="color: red">{{.messageError}}</span></div>
        
        <div>
            <h5 style="color: #007bff">Messages log [system]</h5>
            <table class="table table-hover">
                <thead>
                    <th>@</th>
                    <th>IP地址</th>
                    <th>出现次数</th>
                    <th>安全等级</th>
                    <th>动作</th>
                </thead>
                <tbody>
                    {{range $k ,$v := .Messages}}
                    <tr>
                        <td><input class="cb" type="checkbox"/></td>
                        <td>{{$v.Ip}}</td>
                        <td>{{$v.IpNum}}</td>
                        {{if gt $v.IpNum 10000}}
                            <td style="color: #CC0000">非常严重</td>
                        {{else if gt $v.IpNum 5000}}
                            <td style="color: #FF3333">一般严重</td>
                        {{else if gt $v.IpNum 2000}}
                            <td style="color: #FF5511">严重</td>
                        {{else if gt $v.IpNum 100}}
                            <td style="color: #FF8800">警告</td>
                        {{else}}
                            <td style="color: #00DD00">观察</td>
                        {{end}}
                        <td>
                            <button class="btn btn-danger" type="button" onclick="addBlacklist()">加入内核黑名单</button>
                            <button class="btn btn-danger" type="button" onclick="">加入网络黑名单</button>
                            <button class="btn btn-primary" type="button" onclick="moveBlacklist()">移除黑名单</button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

        <div>
            <h5 style="color: #007bff">Secure log [system]</h5>
            <div><span style="color: red">{{.securesError}}</span></div>
            <table class="table table-hover">
                <thead>
                    <th>@</th>
                    <th>IP地址</th>
                    <th>出现次数</th>
                    <th>安全等级</th>
                    <th>动作</th>
                </thead>
                <tbody>
                    {{range $k ,$v := .Secure}}
                    <tr>
                        <td><input class="cb" type="checkbox"/></td>
                        <td>{{$v.Ip}}</td>
                        <td>{{$v.IpNum}}</td>
                        {{if gt $v.IpNum 10000}}
                            <td style="color: #CC0000">非常严重</td>
                        {{else if gt $v.IpNum 5000}}
                            <td style="color: #FF3333">一般严重</td>
                        {{else if gt $v.IpNum 2000}}
                            <td style="color: #FF5511">严重</td>
                        {{else if gt $v.IpNum 100}}
                            <td style="color: #FF8800">警告</td>
                        {{else}}
                            <td style="color: #00DD00">观察</td>
                        {{end}}
                        <td>
                            <button class="btn btn-danger" type="button" onclick="addBlacklist()">加入内核黑名单</button>
                            <button class="btn btn-danger" type="button" onclick="">加入网络黑名单</button>
                            <button class="btn btn-primary" type="button" onclick="moveBlacklist()">移除黑名单</button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">黑名单列表</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <table class="table table-hover" style="margin-top: 5px">
                            <thead>
                            <th>封禁时间</th>
                            <th>ip</th>
                            </thead>

                            <tbody id="blackList"></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <script></script>

    </body>
    </html>

{{end}}