{{define "url.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>网址管理</title>
    </head>
    {{template "base" .}}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>

    <body>
        <form class="form-inline" action="/url/upload", method="post" enctype="multipart/form-data" style="margin-left: 10px; margin-top: 80px">
            <div class="form-group">
                <label for="inputPassword6">名称</label>
                <input type="text" style="width: 300px" class="form-control mx-sm-3" name="u-name">
                <label for="inputPassword6">网址</label>
                <input type="text" style="width: 300px" class="form-control mx-sm-3" name="url">
                <label for="inputPassword6">备注</label>
                <input type="text" style="width: 400px" class="form-control mx-sm-3" name="txt" placeholder="默认'无备注'">
                <input  class="btn btn-primary" type="submit" value="添加">

            </div>
        </form>

        <form action="/url/del" method="post" enctype="multipart/form-data" style="margin-left: 10px; margin-top: 20px" class="form-inline" >
            <label for="inputPassword6">名称</label>
            <input class="form-control mx-sm-3" style="width: 300px" type="text" name="u-name" placeholder="模糊匹配，输入全名称">
            <input  class="btn btn-danger" type="submit" value="删除">
        </form>

        <div style="margin-top: 50px">
            <table class="table table-hover">
                <thead>
                <th>名称</th>
                <th>网址</th>
                <th>备注</th>
                <th>动作</th>
                </thead>
                <tbody>
                {{range $k ,$v := .UrlPic}}
                    <tr>
                        <td>{{$v.UName}}</td>
                        <td>{{$v.Url}}</td>
                        <td>{{$v.Notes}}</td>
                        <td><a href="{{$v.Url}}" target=_blank><input class="btn btn-success" type="button" value="访问"></a></td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </body>
    </html>
{{end}}