{{define "url.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>网址管理</title>
    </head>
    {{template "base" .}}
    <style>
        body {
            background-color: #ffffff;
        }
        .delete-btn {
            height: 35px;
            width: 50px;
            padding: 0 auto;
            background-color: #dc3545;
            color: #fff;
            text-align: center;
            font-size: 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        .add-btn {
            height: 35px;
            width: 50px;
            padding: 0 auto;
            background-color: #5938ea;
            color: #fff;
            text-align: center;
            font-size: 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        .fw-btn {
            height: 30px;
            width: 50px;
            padding: 0 auto;
            background-color: #28a745;
            color: #fff;
            text-align: center;
            font-size: 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>

    <body>
        <form action="/url/upload", method="post" enctype="multipart/form-data" style="margin-left: 10px; margin-top: 15px">
            名称: <input style="margin-top: 10px; height: 35px; width: 300px" type="text" name="u-name">
            网址: <input style="margin-top: 10px; height: 35px; width: 300px" type="text" name="url">
            备注: <input style="margin-top: 10px; height: 35px; width: 400px" type="text" name="txt" placeholder="默认'无备注'字段">
            <input  class="add-btn" type="submit" value="添加">
        </form>
        <form action="/url/del" method="post" enctype="multipart/form-data" style="margin-left: 10px;">
            名称: <input style="margin-top: 10px; height: 35px; width: 300px" type="text" name="u-name" placeholder="模糊匹配，输入全名称">
            <input  class="delete-btn" type="submit" value="删除">
        </form>

        <div style="margin-top: 50px">
            <table class="table table-hover">
                <thead>
                <th>名称</th>
                <th>网址</th>
                <th>备注</th>
                <th>动作</th>
                </thead>
                <tbody>
                {{range $k ,$v := .UrlPic}}

                    <tr>
                        <td>{{$v.UName}}</td>
                        <td>{{$v.Url}}</td>
                        <td>{{$v.Notes}}</td>
                        <td><a href="{{$v.Url}}" target=_blank><input class="fw-btn" type="button" value="访问"></a></td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </body>
    </html>
{{end}}