{{define "user.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>用户管理</title>
    </head>
    {{template "base" .}}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>

    <body>
        <h2 style="margin-top: 80px">user</h2>
    </body>
    </html>
{{end}}