{{define "user.tmpl"}}
    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>用户列表</title>
    </head>
    {{template "base" .}}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>

    <body>
        <div style="margin-top: 80px; margin-left: 10px">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" onclick="createUserTc()">新建用户</button>
            {{/*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">修改密码</button>*/}}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal4" data-whatever="@mdo" style="margin-left: 100px">重启机器</button>
        </div>
        <table class="table table-hover" style="margin-top: 15px">
            <thead>
                <th style="color: #0b87e7">用户列表</th>
            </thead>
            <thead>
            <th>@</th>
            <th>ID</th>
            <th>用户名</th>
            <th>创建时间</th>
            <th>动作</th>
            </thead>

            <tbody>
                {{range $k ,$v := .userList}}
                    {{if ne $v.UserName  "admin"}}
                        <tr>
                            <td><input class="cb" type="checkbox"/></td>
                            <td>{{$v.Id}}</td>
                            <td>{{$v.UserName}}</td>
                            <td>{{$v.NewUserDate}}</td>
                            <td>
                                <button class="btn btn-danger" onclick="deleteUser()">删除</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo" onclick="editUser()">编辑</button>
                            </td>
                        </tr>
                    {{end}}
                {{end}}
            </tbody>
        </table>
        <hr>
        <table class="table table-hover" style="margin-top: 15px">
            <thead>
            <th style="color: #0b87e7">角色用户列表</th>
            </thead>
            <thead>
            <th>@</th>
            <th>用户名</th>
            <th>角色名</th>
            <th>动作</th>
            </thead>

            <tbody>
            {{range $k ,$v := .userAndRoleList}}
            {{if ne $v.UserName  "admin"}}
            <tr>
                <td><input class="cb" type="checkbox"/></td>
                <td>{{$v.UserName}}</td>
                <td>{{$v.RoleName}}</td>
                <td>
                    <button class="btn btn-danger" onclick="deleteUser()">删除</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo" onclick="editUser()">编辑</button>
                </td>
            </tr>
            {{end}}
            {{end}}
            </tbody>
        </table>


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">新建用户</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="col-form-label">用户名</label>
                                <input type="text" class="form-control" name="userName" id="recipient-userName">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">赋权角色</label>
                                <select class="custom-select mr-sm-2" id="recipient-roleName" name="roleName">
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">密码</label>
                                <input type="password" class="form-control" name="userPasswd" id="recipient-userPasswd" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">确认密码</label>
                                <input type="password" class="form-control" name="userPasswd2" id="recipient-userPasswd2" autocomplete="off">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cclose">取消</button>
                        <button type="button" class="btn btn-primary" onclick="createUser()">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">更新用户信息</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label">用户ID:</label>
                            <input type="text" class="form-control" id="recipient-userId3">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">用户名:</label>
                            <input type="text" class="form-control" id="recipient-userName3">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">创建时间:</label>
                            <input type="text" class="form-control" id="recipient-newUserDate3">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="delEditInput()"
                                id="close3">取消
                        </button>
                        <button type="button" class="btn btn-primary" onclick="updateUser()">确认</button>
                    </div>
                </div>
            </div>
        </div>

        {{/*<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true" data-backdrop="static" data-keyboard="false"> */}}
            {{/*<div class="modal-dialog">*/}}
                {{/*<div class="modal-content">*/}}
                    {{/*<div class="modal-header">*/}}
                        {{/*<h5 class="modal-title" id="exampleModalLabel2">修改密码</h5>*/}}
                        {{/*<button type="button" class="close" data-dismiss="modal" aria-label="Close">*/}}
                            {{/*<span aria-hidden="true">&times;</span>*/}}
                        {{/*</button>*/}}
                    {{/*</div>*/}}
                    {{/*<div class="modal-body">*/}}
                        {{/*<form>*/}}
                            {{/*<div class="form-group">*/}}
                                {{/*<label class="col-form-label">用户名</label>*/}}
                                {{/*<select class="form-control" name="userName" id="recipient-userName2">*/}}
                                    {{/*{{range $k ,$v := .userList}}*/}}
                                        {{/*{{if ne $v.UserName  "admin"}}*/}}
                                        {{/*<option>{{$v.UserName}}</option>*/}}
                                        {{/*{{end}}*/}}
                                    {{/*{{end}}*/}}
                                {{/*</select>*/}}
                            {{/*</div>*/}}
                            {{/*<div class="form-group">*/}}
                                {{/*<label class="col-form-label">密码</label>*/}}
                                {{/*<input type="password" class="form-control" name="userPasswd" id="recipient-userPasswds">*/}}
                            {{/*</div>*/}}
                            {{/*<div class="form-group">*/}}
                                {{/*<label class="col-form-label">确认密码</label>*/}}
                                {{/*<input type="password" class="form-control" name="userPasswd2" id="recipient-userPasswds2">*/}}
                            {{/*</div>*/}}
                        {{/*</form>*/}}
                    {{/*</div>*/}}
                    {{/*<div class="modal-footer">*/}}
                        {{/*<button type="button" class="btn btn-secondary" data-dismiss="modal" id="uclose">取消</button>*/}}
                        {{/*<button type="button" class="btn btn-primary" onclick="updatePasswd()">确定</button>*/}}
                    {{/*</div>*/}}
                {{/*</div>*/}}
            {{/*</div>*/}}
        {{/*</div>*/}}


        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalLabel4" style="color: #c60a17">危险操作！确认要重启机器吗？</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close4">取消</button>
                        <button type="button" class="btn btn-primary" onclick="hostReboot()">确认</button>
                    </div>
                </div>
            </div>
        </div>


    </body>
    </html>
{{end}}